@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#app {
  font-family: 'DM Sans', serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

input,
textarea {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
}

button {
  border: 1px solid lightgray;
  background: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
  color: gray;
  background-color: darkgray;
}

.mt {
  margin-top: 20px;
}

.mr {
  margin-right: 20px;
}

.mb {
  margin-bottom: 20px;
}

.ml {
  margin-left: 20px;
}
